<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:gfe="http://www.springframework.org/schema/geode"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:gfe-data="http://www.springframework.org/schema/data/gemfire"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/geode http://www.springframework.org/schema/gemfire/spring-geode.xsd
    http://www.springframework.org/schema/data/gemfire http://www.springframework.org/schema/data/gemfire/spring-data-gemfire.xsd"> 

  <gfe:pool id="myPool" subscription-enabled="true">
  	<gfe:locator host="127.0.0.1"  port="1099"/>
  </gfe:pool>
  <gfe:pool id="serverPool">
	  <gfe:server host="127.0.0.1" port="40011"/>
  </gfe:pool>
  
  <gfe-data:repositories  base-package="com.mark.demo.security.repository" />

  <gfe:client-cache id="clientCache" pool-name="myPool" pdx-serializer-ref="mySerializer" pdx-read-serialized="true"/> 
  <gfe:cache id="gemfireCache" pdx-read-serialized="true" pdx-serializer-ref="mySerializer"></gfe:cache>
  
  <gfe:replicated-region id="user" cache-ref="gemfireCache" persistent="true" 
    data-policy="PERSISTENT_REPLICATE"	key-constraint="java.lang.Integer" value-constraint="com.mark.demo.security.entity.User" name="user"/>
  	
  <gfe:replicated-region id="menu" cache-ref="gemfireCache" persistent="true" 
  	 data-policy="PERSISTENT_REPLICATE" key-constraint="java.lang.Integer" value-constraint="com.mark.demo.security.entity.Menu" name="menu"/>
  <gfe:replicated-region id="resource" cache-ref="gemfireCache" persistent="true" 
  	 data-policy="PERSISTENT_REPLICATE" key-constraint="java.lang.Integer" value-constraint="com.mark.demo.security.entity.Resource" name="resource"/>
  
  <bean id="mySerializer" class="org.apache.geode.pdx.ReflectionBasedAutoSerializer"></bean>
  
  <bean id="userGemfireTemplate" class="org.springframework.data.gemfire.GemfireTemplate" >
  	<property name="region" ref="user"></property>
  </bean>
  
  <bean id="menuGemfireTemplate" class="org.springframework.data.gemfire.GemfireTemplate" >
  	<property name="region" ref="menu"></property>
  </bean>
  
  
  <bean id="instantiatorFactory" class="org.springframework.data.gemfire.serialization.InstantiatorFactoryBean">
	  <property name="customTypes">
	    <map>
	      <entry key="com.mark.demo.security.entity.User" value="1025"/>
	      <entry key="com.mark.demo.security.entity.Resource" value="1027"/>
	      <entry key="com.mark.demo.security.entity.Menu" value="1029"/>
	    </map>
	  </property>
  </bean>
</beans>